<xc-dialog-wrapper>
    <ng-container header>
        <div class="headerContent">
            <h2 *ngIf="chooseProject" i18n>Choose Test Project</h2>
            <h2 *ngIf="createProject" i18n>Create Test Project</h2>
            <h2 *ngIf="creationMode" i18n>Duplicate Test Project</h2>
            <div style="display: flex;">
                <xc-icon-button
                    *ngIf="!duplicateProject"
                    [disabled]="createProject"
                    (click)="importTestProject()"
                    xc-icon-name="fileimport"
                    color="normal"
                    xc-icon-style="xds"
                    xc-tooltip="Import Test Project"
                    i18n-xc-tooltip
                ></xc-icon-button>
                <xc-icon-button *ngIf="!duplicateProject" [disabled]="createProject" (click)="switchToCreateTestProject()" xc-icon-name="add"
                    color="normal" xc-icon-style="xds" xc-tooltip="Create Test Project" i18n-xc-tooltip></xc-icon-button>
            </div>
        </div>
    </ng-container>

    <section content>

        <note-component [note]="note" *ngIf="note"></note-component>

        <ng-container *ngIf="chooseProject">

            <div class="items-row">
                <xc-form-autocomplete
                    label="Test Project" i18n-label="label for TestProject in usermenu component"
                    placeholder="choose..." i18n-placeholder
                    [(xc-form-autocomplete-option)]="testProjectsDataWrapper.value"
                    [xc-form-autocomplete-options]="testProjectsDataWrapper.values"
                    xc-form-autocomplete-sortdirection="asc"
                    xc-form-field-suffix="clear" xc-form-validator-required
                    xc-form-autocomplete-fulltextsearch
                ></xc-form-autocomplete>
                <xc-icon-button [xc-icon-name]="XDSIconName.RELOAD" (click)="refreshTestProjectsDataWrapper()"></xc-icon-button>
            </div>

            <p i18n>Test Projects, which are currently part of an import or duplicate process, can only be selected after the respective process is done.</p>

        </ng-container>
        <ng-container *ngIf="createProject">
            <xc-form-input label="Name" i18n-label="label for name in usermenu component" xc-form-validator-required [(value)]="projectToCreate.name"></xc-form-input>
            <xc-form-input label="Version" i18n-label="label for version in usermenu component" xc-form-validator-required [(value)]="projectToCreate.version"></xc-form-input>
            <xc-form-textarea label="Description" i18n-label="label for description in usermenu component" [(value)]="projectToCreate.description"></xc-form-textarea>
            <xc-button (click)="abortCreation()" i18n>Back</xc-button>
        </ng-container>
        <ng-container *ngIf="duplicateProject">
            <xc-form-input label="Name" i18n-label="label for name in usermenu component" xc-form-validator-required [(value)]="testProject.name"></xc-form-input>
            <xc-form-input label="Version" i18n-label="label for version in usermenu component" xc-form-validator-required [(value)]="testProject.version"></xc-form-input>
            <xc-form-textarea label="Description" i18n-label="label for description in usermenu component" [(value)]="testProject.description">
            </xc-form-textarea>
        </ng-container>

    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" i18n>Cancel</xc-button>
        <xc-button *ngIf="chooseProject" (click)="ok()" [disabled]="okButtonBusyFlag || invalidChoose" [busy]="okButtonBusyFlag" i18n>Ok</xc-button>
        <xc-button *ngIf="createProject" (click)="createTestProject()"  [disabled]="okButtonBusyFlag || invalidCreate" [busy]="okButtonBusyFlag" color="primary" i18n>Ok</xc-button>
        <xc-button *ngIf="creationMode" (click)="duplicateTestProject()" [disabled]="okButtonBusyFlag || invalidDuplicate" [busy]="okButtonBusyFlag" color="primary" i18n>Ok</xc-button>
    </ng-container>
</xc-dialog-wrapper>