<xc-panel xc-form #detailForm *ngIf="isTestprojectSelected">
    <header>
        <h2 i18n>Project Details</h2>
        <div class="items-right">
            <xc-button [busy]="exportStarted" [disabled]="exportStarted">
                <xc-icon
                    xc-icon-name="file" color="normal" xc-icon-style="xds"
                    (click)="exportTestProject()"
                    i18n
                >
                    Export Test Project
                </xc-icon>
            </xc-button>
        </div>
    </header>
    <section class="stretch scroll">
        <xc-form-input label="Name" i18n-label="label for Name in project-details component" readonly [value]="testProjectDetails.name"></xc-form-input>
        <xc-form-input label="Version" i18n-label="label for Version in project-details component" readonly [value]="testProjectDetails.version"></xc-form-input>
        <xc-form-textarea label="Description" i18n-label="label for Description in project-details component" [(value)]="testProjectDetails.description"></xc-form-textarea>
    </section>
    <footer>
        <div class="items-right">
            <xc-button>
                <xc-icon xc-icon-name="delete" i18n (click)="delete()">Delete Test Project</xc-icon>
            </xc-button>
            <xc-button>
                <xc-icon xc-icon-name="copy" i18n (click)="duplicate()">Duplicate Test Project</xc-icon>
            </xc-button>
            <xc-button i18n (click)="reset()">Undo Changes</xc-button>
            <xc-button i18n (click)="save()" [disabled]="saving" [busy]="saving">Save Changes</xc-button>
        </div>
    </footer>
</xc-panel>