<xc-master-detail [xc-master-detail-opened]="testCaseChain !== null" *ngIf="isTestprojectSelected">

    <xc-panel master>
        <header>
            <h2 i18n>Test Case Chains</h2>
            <div class="items-right">
                <xc-icon-button (click)="refresh()" xc-icon-name="reload" color="normal" xc-icon-style="xds" xc-tooltip="Refresh table" i18n-xc-tooltip></xc-icon-button>
                <xc-icon-button (click)="createTestCaseChain()" [disabled]="!validTestProject" xc-icon-name="add" color="normal" xc-icon-style="xds" xc-tooltip="Add Test Case Chain" i18n-xc-tooltip></xc-icon-button>
            </div>
        </header>
        <section class="stretch scroll">
            <xc-table
                [xc-table-datasource]="dsTestCaseChains"
                xc-table-allowsort
                xc-table-allowfilter
                xc-table-allowselect
                xc-table-lazyupdate
            ></xc-table>
        </section>
    </xc-panel>

    <xc-panel detail>
        <section *ngIf="testCaseChain" class="stretch scroll">
            <section>
                <xc-form-input label="Test Case Chain" i18n-label [value]="testCaseChain.name" readonly xc-form-field-compact></xc-form-input>
            </section>
            <section>
                <xc-form-label i18n>Test Objects</xc-form-label>
                <xc-table
                    [xc-table-datasource]="dsTestObjects"
                    xc-table-allowsort
                    xc-table-allowselect
                    xc-table-lazyupdate
                ></xc-table>
            </section>
            <section>
                <xc-form-label i18n>Test Cases</xc-form-label>
                <xc-table
                    [xc-table-datasource]="dsTestCaseInstances"
                    xc-table-allowsort
                    xc-table-allowselect
                    xc-table-lazyupdate
                ></xc-table>
                <footer class="items-right">
                    <xc-button (click)="deleteTestCase()" [disabled]="dsTestCaseInstances.selectionModel.isEmpty()"><xc-icon xc-icon-name="delete" i18n>Remove</xc-icon></xc-button>
                    <xc-button [routerLink]="['../../Test-Cases/', this.testCase?.testCaseId]" [disabled]="testCase === null" i18n>Show Test Case</xc-button>
                </footer>
            </section>
            <section>
                <ng-container *ngIf="showInitialTestCases">
                    <xc-form-label i18n>Initial Test Cases</xc-form-label>
                    <xc-table
                        [xc-table-datasource]="dsInitialTestCases"
                        xc-table-allowsort
                        xc-table-allowselect
                        xc-table-lazyupdate
                    ></xc-table>
                </ng-container>

                <ng-container *ngIf="!showInitialTestCases">
                    <xc-form-label i18n>Followup Test Cases</xc-form-label>
                    <xc-table
                        [xc-table-datasource]="dsFollowupTestCases"
                        xc-table-allowsort
                        xc-table-allowselect
                        xc-table-lazyupdate
                    ></xc-table>
                </ng-container>

                <footer class="items-right">
                    <ng-container *ngIf="showInitialTestCases">
                        <xc-button (click)="addInitialTestCase()" [disabled]="!initialTestCase" i18n>Add Initial Test Case</xc-button>
                    </ng-container>
                    <ng-container *ngIf="!showInitialTestCases">
                        <xc-button (click)="addFollowupTestCase()" [disabled]="!followupTestCase" i18n>Add Follow Up Test Case</xc-button>
                    </ng-container>
                </footer>
            </section>
        </section>
        <footer class="items-left">
            <xc-button (click)="close()" i18n>Cancel</xc-button>
        </footer>
    </xc-panel>

</xc-master-detail>